:root {
    --color-background-regular: 22, 24, 28;
    --color-background-dark: 14, 18, 21;
    --color-font-regular: 120, 135, 150;
    --color-white-regular: 230, 230, 230;
    --color-black-regular: 0, 0, 0;
    --color-primary: 135, 241, 255;
    --spacing-xxs: 0.125rem;
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;
    --spacing-xl: 4rem;
    --spacing-xxl: 6rem;
    --size-font-very-small: 0.8rem;
    --size-font-small: 0.9rem;
    --size-font-regular: 1rem;
    --size-font-large: 1.5rem;
    --size-font-very-large: 2rem;
    --size-border: 0.125rem;
    --size-radius: 0.625rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    font-size: 100%;
    font-family: 'Mulish', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    background-color: rgb(var(--color-background-dark));
}

h1 {
    margin: 0 0 var(--spacing-md) 0;
    font-size: var(--size-font-very-large);
    font-weight: 800;
    line-height: 1.3em;
    color: rgb(var(--color-white-regular));
}

h2 {
    margin: 0 0 var(--spacing-sm) 0;
    font-size: var(--size-font-regular);
    font-weight: 700;
    line-height: 1.5em;
    color: rgb(var(--color-white-regular));
}

p {
    width: 100%;
    margin: 0 0 var(--spacing-md) 0;
    font-size: var(--size-font-regular);
    line-height: 1.75em;
    color: rgb(var(--color-font-regular));
    word-wrap: break-word;
}

p.label {
    margin: 0;
    font-size: var(--size-font-very-small);
    font-weight: 700;
    text-align: center;
    color: inherit;
}

p.small {
    margin: 0;
    font-size: var(--size-font-small);
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

svg {
    height: 1.6em;
    width: 1.6em;
    fill: currentColor;
}

.icon-small {
    height: 1.2em;
    width: 1.2em;
}

a {
    text-decoration: none;
}

.animate {
    transition: all 200ms ease-in-out;
}

.highlight {
    color: rgb(var(--color-primary));
}

.half-layout-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.half-layout-left {
    width: 50%;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
}

.half-layout-right {
    width: 50%;
    padding: var(--spacing-xxl);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(var(--color-background-dark));
}

.hero-image {
    background-image: url('/img/hero-2.png');
    background-color: rgb(var(--color-background-dark));
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: var(--spacing-xxl);
}

.hero-text h1 {
    margin: 0;
}

.content-container {
    margin: 0 0 var(--spacing-xxl) 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
}

.profile-link-container {
    width: 100%;
    max-width: 18rem;
    margin: var(--spacing-lg) 0 0 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--spacing-md);
}

.profile-link a {
    width: 100%;
    padding: var(--spacing-xs);
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xs);
    color: rgb(var(--color-font-regular));
    background: rgba(var(--color-background-regular), 1);
    border-radius: var(--size-radius);
    box-shadow: 0 0.2rem 0.5rem rgba(var(--color-black-regular), 0.3);
    border: var(--size-border) solid transparent;
}

.profile-link a:hover {
    border: var(--size-border) solid rgb(var(--color-primary));
    transform: scale(1.1);
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.card {
    width: 100%;
    padding: var(--spacing-md);
    margin: 0 0 var(--spacing-md) 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    background: rgba(var(--color-background-regular), 1);
    border-radius: var(--size-radius);
    box-shadow: 0 0.2rem 0.5rem rgba(var(--color-black-regular), 0.3);
    border: var(--size-border) solid transparent;
    position: relative;
    overflow: hidden;
}

.card:hover {
    border: var(--size-border) solid rgba(var(--color-primary));
    transform: scale(1.05);
}

.card-content {
    width: 100%;
}

.card-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(var(--color-font-regular));
}
