:root {
    --color-background-light: rgba(255, 255, 255, 1);
    --color-background-regular: rgba(245, 245, 245, 1);
    --color-font-regular: rgba(10, 10, 10, 1);
    --color-white: 230, 230, 230;
    --color-black-regular: 0, 0, 0;
    --color-primary: 135, 241, 255;

    --size-font-h1: 3.5rem;
    --size-font-h2: 2.5rem;
    --size-font-h3: 2rem;
    --size-font-h4: 1.5rem;
    --size-font-body: 1rem;
    --size-font-link: 1rem;

    --size-border: 0.125rem;
    --size-radius: 1rem;
    --size-radius-large: 4rem;
    --size-max-width: 1200px;
    --shadow-lg: 0px 50px 100px -20px rgba(0, 0, 0, 0.25);
    --transition-timing-bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@font-face {
    font-family: 'Lobster';
    font-style: normal;
    src: url(/assets/fonts/Lobster-Regular.ttf);
    font-display: block;
}

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 200 1000;
    src: url(/assets/fonts/Mulish-VariableFont_wght.ttf);
    font-display: block;
}

*::selection {
    background-color: var(--color-font-regular);
    color: var(--color-background-regular);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Mulish', sans-serif;
    font-size: 100%;
    font-weight: 400;
    background: var(--color-background-regular);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lobster', sans-serif;
}

h1 {
    margin: 8rem 0 2rem;
    padding: 0 2rem;
    font-size: var(--size-font-h1);
    text-align: center;
    line-height: 1;
    color: var(--color-font-regular);
}

h2 {
    margin: 4rem 0 2rem;
    font-size: var(--size-font-h2);
    line-height: 1.1;
}

h3 {
    font-size: var(--size-font-h3);
    line-height: 1.1;
}

h4 {
    margin: 2rem 0 1rem;
    font-size: var(--size-font-h4);
    line-height: 1.1;
}

p {
    font-size: var(--size-font-body);
    line-height: 1.6;
    margin: 0 0 1rem;
}

p:last-child {
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:link,
a:visited {
    color: var(--color-font-regular);
}

a.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

footer {
    margin: 12rem auto 6rem;
    max-width: var(--size-max-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

header {
    position: fixed;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    padding: 0.25rem 1rem;
    background: rgba(255, 255, 255, 0.8);
    border-radius: var(--size-radius-large);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    list-style-type: none;
}

nav ul li {
    display: flex;
}

nav ul li a {
    padding: 1rem;
    font-size: var(--size-font-link);
    font-weight: 500;
    position: relative;
}

nav ul li a.active::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: var(--color-font-regular);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.icon-links {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

.icon-link {
    width: 40px;
    height: 40px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: transparent;
    color: var(--color-font-regular);
}

a.icon-link-target {
    padding: 4px;
}

a.icon-link-target:hover .icon-link {
    background-color: var(--color-background-light);
}

.text-link {
    font-size: var(--size-font-link);
    font-weight: 500;
}

.subtitle {
    margin: 0 auto;
    padding: 0 2rem;
    text-align: center;
    max-width: 55ch;
}

.grid-wrapper {
    padding: 0 2rem;
}

.grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    width: 100%;
    max-width: var(--size-max-width);
}

.about-image {
    margin: 7rem 0 0;
    grid-column: 1 / 26;
    aspect-ratio: 1 / 1;
    background: url('/assets/images/hero-2-square.png') center/cover no-repeat;
    border-radius: var(--size-radius);
}

.about-text {
    grid-column: 1 / 26;
}

.cards-wrapper {
    margin: 5rem 0;
    padding: 0 2rem;
}

.cards {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    row-gap: 4rem;
    width: 100%;
}

.card-heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.card-heading p {
    margin: 0;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
}

.card-heading p svg {
    margin-left: 0.5rem;
}

.card {
    max-height: 300px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: var(--size-radius);
    background: var(--color-background-light);
    color: var(--color-font-regular);
    transition: all 0.5s var(--transition-timing-bounce);
    overflow: hidden;
}

.card:hover {
    transform: translate3d(0, -3px, 0);
    box-shadow: var(--shadow-lg);
}

.card:hover .ide-mockup {
    transform: translate3d(0, 15px, 0);
}

.card-1,
.card-2,
.card-3,
.card-4 {
    grid-column: 1 / 26;
}

.bg-pink {
    background-color: rgb(212, 171, 233);
}

.bg-green {
    background-color: rgb(174, 232, 200);
}

.ide-mockup {
    width: 1200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: var(--size-radius);
    overflow: hidden;
    transition: all 0.8s var(--transition-timing-bounce);
}

.ide-mockup-topbar {
    width: 100%;
    height: 30px;
    background-color: rgba(35, 31, 34, 1);
}

.ide-mockup-sidebar-editor-wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.ide-mockup-sidebar {
    width: 10%;
    height: 100%;
    padding: 1rem;
    background-color: rgba(35, 31, 34, 1);
}

.ide-mockup-editor {
    width: 90%;
    height: 100%;
    padding: 1rem;
    background-color: rgba(44, 43, 45, 1);
}

.ide-mockup-sidebar-line {
    display: flex;
    flex-direction: row;
    gap: 5px;
    height: 10px;
    margin-bottom: 10px;
}

.ide-mockup-sidebar-line-tab-1 {
    margin-left: 10px;
}

.ide-mockup-sidebar-line-tab-2 {
    margin-left: 20px;
}

.ide-mockup-sidebar-line-tab-3 {
    margin-left: 30px;
}

.ide-mockup-sidebar-file {
    width: 60px;
    background-color: rgba(147, 146, 147, 1);
}

.ide-mockup-editor-line {
    display: flex;
    flex-direction: row;
    gap: 5px;
    height: 10px;
    margin-bottom: 10px;
}

.ide-mockup-editor-line-tab-1 {
    margin-left: 20px;
}

.ide-mockup-editor-line-tab-2 {
    margin-left: 40px;
}

.ide-mockup-editor-line-tab-3 {
    margin-left: 60px;
}

.ide-mockup-editor-tag {
    width: 20px;
    background-color: rgba(228, 89, 125, 1);
}

.ide-mockup-editor-attr {
    width: 40px;
    background-color: rgba(119, 220, 232, 1);
}

.ide-mockup-editor-value {
    width: 70px;
    background-color: rgba(168, 219, 117, 1);
}

.ide-mockup-editor-text {
    width: 200px;
    background-color: rgba(241, 240, 238, 1);
}

.ide-mockup-editor-text-short {
    width: 120px;
    background-color: rgba(241, 240, 238, 1);
}

.ide-mockup-editor-tag,
.ide-mockup-editor-attr,
.ide-mockup-editor-value,
.ide-mockup-editor-text,
.ide-mockup-editor-text-short,
.ide-mockup-sidebar-file {
    border-radius: 5px;
}

.privacy-container {
    margin: 0 auto;
    padding: 0 2rem 8rem;
    max-width: 900px;
}

.privacy-container h2,
.privacy-container h3,
.privacy-container h4 {
    margin: 3rem 0 1rem;
}

.privacy-container ul {
    margin-left: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    font-size: var(--size-font-body);
    gap: 1rem;
}

.privacy-container ul li {
    line-height: 1.6;
}

@media only screen and (min-width: 768px) {
    .about-image {
        grid-column: 1 / 10;
        border-radius: var(--size-radius-large);
    }
    .about-text {
        grid-column: 12 / 26;
    }
    .about-text h2 {
        margin-top: 7rem;
    }
    .grid-wrapper {
        padding: 0 5rem;
    }
}

@media only screen and (min-width: 992px) {
    :root {
        --size-font-h1: 5.5rem;
        --size-font-h2: 3rem;
        --size-font-h3: 2.2rem;
        --size-font-h4: 1.5rem;
        --size-font-body: 1.125rem;
    }
    h1 {
        margin: 12rem 0 4rem;
    }
    nav ul li a.active::after {
        width: 5px;
        height: 5px;
        border-radius: 5px;
    }
    .subtitle {
        font-size: 1.25rem;
    }
    .about-image,
    .about-text h2 {
        margin-top: 10rem;
    }
    .cards-wrapper {
        margin: 8rem 0;
    }
    .cards {
        margin: 0 auto;
        row-gap: 6rem;
        max-width: var(--size-max-width);
    }
    .card {
        max-height: 500px;
        padding: 2rem 4rem;
        border-radius: var(--size-radius-large);
    }
    .card-1 {
        grid-column: 1 / 11;
    }
    .card-2 {
        grid-column: 12 / 26;
    }
    .card-3 {
        grid-column: 1 / 15;
    }
    .card-4 {
        grid-column: 16 / 26;
    }
}
